@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/*Заголовок*/
.header {
  background-color: #E1FF8F;
  background-repeat: no-repeat;
  background-image: url(./image/png/01_StarsBigGroup.png), url(./image/png/01_StarsSmallGroup01_top.png), url(./image/png/01_StarsSmallGroup02_bottom.png);
  background-position: calc(100% + 475px) -370px, 63px 69px, 948px 538px;
  padding-top: 69px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header__сontent {
  position: relative;
  padding-top: 125px;
  padding-bottom: 120px;
}

.header__сontent-title {
  width: 769px;
  height: 156px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

.header__content-text {
  width: 720px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
}

.header__content-button {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 48px;
}

.header__content-button:hover {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  cursor: pointer;
  transition: all 1s;
}

.linetop {
  background-color: #BCEC30;
  max-width: 100%;
  overflow: hidden;
}

.star-running {
  width: 36px;
  height: 36px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.strip-bottom {
  width: 100%;
  display: flex;
  gap: 51px;
  height: 80px;
  animation: scrloll-Left-Rirht 10s linear infinite;
}

@keyframes scrloll-Left-Rirht {
  from {
    transform: translatex(0%);
  }
  to {
    transform: translatex(-100%);
  }
}
.linetop-text {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-align: left;
  padding-top: 27px;
  white-space: nowrap;
}

/* Выбор игр */
.game-about {
  background-color: #202027;
  transition: background-color 0.5s; /* Плавный переход цвета */
  background-image: url(./image/png/02_FonBigStar.png), url(./image/png/02_FonGroupStars.png);
  background-repeat: no-repeat;
  background-position: 100% 10%, 3% 57%;
  padding-bottom: 50px;
}

.game-selection__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 94px;
  margin-bottom: 24px;
}

.game-selection__text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 76px;
}

.game-library {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.game-card {
  background-color: white;
  border-radius: 30px;
  width: 378px;
  z-index: 1;
  transition: 1s;
}

.game-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.game-card__content {
  padding-left: 32px;
  padding-bottom: 32px;
  width: 314px;
}

.game-card__number {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 88px;
  padding: 8px 16px;
  margin-top: 32px;
  margin-bottom: 10px;
}

.game-card__text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

/* Игры */
.games {
  background-color: #202027;
  transition: background-color 0.5s; /* Плавный переход цвета */
  background-image: url(./image/png/03_FonStarsGames_top.png), url(./image/png/03_FonStarsGames_bottom.png);
  background-position: 92% 2%, 92% 98%;
  background-repeat: no-repeat;
}

.games-selection {
  padding-bottom: 144px;
}

.games-selection__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding: 96px 0px 72px 0;
}

.game-conteiner {
  display: flex;
  background-color: white;
  border-radius: 30px;
  justify-content: space-between;
  margin-bottom: 32px;
  overflow: hidden;
}

.game-content {
  width: 600px;
  margin: 48px;
}

.game-content__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}

.game-content__text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 36px;
}

.game-content__button {
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  width: 247px;
  height: 66px;
}

.game-content__button:hover {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  color: rgb(32, 32, 39);
  background-color: white;
  cursor: pointer;
}

/* Нижний колонтитул */
.line {
  /* width: 1441px;*/
  /* height: 150px; */
  background-image: url(image/jpg/04_LineFooter.jpg);
  justify-content: center;
  padding-top: 61px;
  padding-bottom: 61px;
  align-items: center;
  text-align: center;
  /* padding-left: 578px; */
}

.line__text {
  position: relative;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
}

@media (max-width: 767px) {
  .header {
    background-image: url(./image/png/01_StarsBigGroup_mobile.png), url(./image/png/01_StarsSmallGroup01_top-mobile.png), url(./image/png/01_StarsSmallGroup02_bottom-rmobile.png);
    height: 580px;
    width: 476;
    display: flex;
    justify-content: center;
    background-position: 180% -20%, 15% 10%, 90% 95%;
  }
  .center {
    padding-left: calc(50% - 350px);
    padding-right: calc(50% - 350px);
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__сontent {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 0px;
  }
  .header__сontent-title {
    width: 262px;
    height: 196px;
    padding: 0 17px;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
    text-align: center;
  }
  .header__content-text {
    width: 296px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
  }
  .header__content-button {
    width: 285px;
    height: 55px;
    margin-top: 36px;
    font-size: 16px;
  }
  .star-running {
    width: 19.34px;
    height: 19.34px;
    padding: 17px;
  }
  .strip-bottom {
    width: 3260px;
    height: 51px;
    display: flex;
    gap: 27px;
  }
  .linetop-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 17.6px;
    letter-spacing: 0.04em;
    text-align: left;
    padding: 17px;
  }
  /* Выбор игр */
  .game-about {
    display: none;
  }
  /* Игры */
  .games {
    background-image: none;
  }
  .games-selection {
    padding-bottom: 48px;
  }
  .games-selection__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    padding: 48px 0;
  }
  .game-conteiner {
    max-width: 343px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .game-conteiner--mobile {
    flex-direction: column;
    text-align: left;
  }
  .game-content {
    width: 284px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-direction: column;
  }
  .game-content__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0px;
  }
  .game-content__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 16px;
  }
  .game-content__button {
    width: 285px;
    height: 55px;
    font-size: 16px;
  }
  .game-content__button:hover {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 60px;
    color: rgb(32, 32, 39);
    background-color: white;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */