@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*Заголовок*/
.header {
  background-color: #E1FF8F;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.headerFonStars {
  position: absolute;
  top: -333.46px;
  left: 63px;
}

.headerFonStarsMobile {
  display: none;
}

.header__сontent {
  position: relative;
  padding-top: 196px;
  padding-bottom: 156px;
}

.header__сontent-title {
  width: 769px;
  height: 156px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

.header__content-text {
  width: 720px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
}

.header__content-button {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 48px;
}

.header__content-button:hover {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  cursor: pointer;
  transition: all 1s;
}

.linetop {
  position: relative;
  justify-content: center;
  width: 3122px;
}

/* Выбор игр */
.game__about {
  background-color: black;
}

.game__selection-title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 94px;
  margin-bottom: 24px;
}

.game__selection-text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 76px;
}

.star__cart1 {
  position: absolute;
  width: 31.34px;
  height: 31.34px;
  left: 27.97px;
  top: 1570px;
  transform: rotate(5.45deg);
}

.star__cart2 {
  position: absolute;
  width: 54.6px;
  height: 54.6px;
  left: 45.18px;
  top: 1622px;
  transform: rotate(5.45deg);
}

.star__cart3 {
  position: absolute;
  width: 584.72px;
  height: 584.72px;
  left: 933px;
  top: 945.92px;
  transform: rotate(-6.77deg);
}

.game__library {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.game__card {
  background-color: white;
  border-radius: 30px;
  width: 378px;
  z-index: 1;
}

.game__card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}

.game__card-content {
  padding-left: 32px;
  padding-bottom: 32px;
  width: 314px;
}

.game__card-number {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 108px;
  padding: 8px 16px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.game__card-text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

/* Игры */
.games {
  background-color: black;
}

.games__selection {
  padding-bottom: 144px;
}

.games__selection-title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding: 96px 0px 72px 0;
}

.star__game1 {
  position: absolute;
  width: 35.15px;
  height: 35.15px;
  left: 1281.33px;
  top: 2363px;
  transform: rotate(7.08deg);
}

.star__game2 {
  position: absolute;
  width: 68.86px;
  height: 68.86px;
  left: 1326.54px;
  top: 2396px;
  transform: rotate(5.45deg);
}

.game__conteiner {
  display: flex;
  background-color: white;
  border-radius: 30px;
  justify-content: space-between;
  margin-bottom: 32px;
}

.game__content {
  width: 600px;
  margin: 48px;
}

.game__content-title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}

.game__content-text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 36px;
}

.game__content-button {
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  width: 247px;
  height: 66px;
}

.game__content-button:hover {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  color: rgb(32, 32, 39);
  background-color: white;
  cursor: pointer;
}

.star__footer1 {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 1249px;
  top: 5684px;
}

.star__footer2 {
  position: absolute;
  width: 69px;
  height: 69px;
  left: 1319px;
  top: 5636px;
}

/* Нижний колонтитул */
.line {
  /* width: 1441px;*/
  /* height: 150px; */
  background-image: url(image/jpg/04_LineFooter.jpg);
  justify-content: center;
  padding-top: 61px;
  padding-bottom: 61px;
  align-items: center;
  text-align: center;
  /* padding-left: 578px; */
}

.line__text {
  position: relative;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
}

@import 'mobile';
